* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main {
    width: 100vw;
    background-color: white;
  }
  
  .login-main {
    width: 28vw;
    height: 50vh;
    margin-left: 35%;
    margin-top: 9%;
    border: 1px solid #060b26;
    background-color: white;
    padding-top: 10px;
    box-shadow: 0px 10px 100px rgba(126, 124, 124, 0.2);
  }
  
  .selectpicker {
    position: relative;
    left: 320px;
    border-color: white;
  }
  
  form{
    margin-top: 10px;
  }
  
  form .form-inner h2 {
    font-family: Georgia;
    position: relative;
    font-size: 20px;
    padding-bottom: 5px;
    margin-left: 0%;
    margin-top: -70px;
    margin-bottom: 17px;
  }
  form .form-inner h3{
    font-family: Georgia;
    position: relative;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 32%;
    margin-bottom: 17px;
  }
  
  form .form-inner .form-group input {
    display: block;
    width: 85%;
    height: 30px;
    padding: 7px 10px;
    background-color: white;
    transition: 0.4s;
    border: 1px solid #8080805c;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    margin-top: 2%;
  }
  
  form .form-inner .checkbox-label {
    font-size: 13px;
    margin-right: 5%;
    margin-left: 9%;
  }
  
  form .form-inner a {
    font-size: small;
    font-weight: lighter;
    margin-left: 2%;
  }
  
  .error {
    font-size: 12px;
    color: #fe4800;
    margin-left: 5%;
    margin-top: -3%;
  }
  
  form .form-inner p {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 32%;
    margin-top: 30px;
  }
  
  .btnButton {
    font-family: Georgia;
    color: black;
    margin-top: 5px;
    margin-left: 32px;
    height: 35px;
    width: 30%;
    background-color:#00b8c9;
  }
  
  input[type='password'].mainLoginInput::-webkit-input-placeholder {
    color: #8080805c;
    font-size: 15px;
    font-weight: 5;
    font-family: Georgia;
    opacity: 2;
  }
  
  input[type='email'].mainLoginInput::-webkit-input-placeholder {
    color: #8080805c;
    font-size: 15px;
    font-weight: 5;
    font-family: Georgia;
    opacity: 2;
  }
  
  form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-color: #8080805c;
  }