
.container{
    margin-left: 15.625rem;
    margin-right: 150px;
    left: 15%;
    border-style: groove;
    border-radius: 7px;
    min-height: 500px;
    width: fit-content;
    padding-top: 10px;

}
.leftDivision{
    float: left;
    min-width: 30%;
}

.rightDivision{
    width: 30%;
    float: right;
    margin-top: 0px;
}

.Itembar{
    width: 900px;
    background-color: black;
    float: left;
    color: rgb(222, 235, 232);
    height: 30px;
    border-radius: 4px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    width: 900px;
}
.item{
  padding-left: 10px;
  float: left;
  padding-right: 445px;
  display: flex;
  margin-right: -35px;
}
.quantity{
    float: left;
    width: 80px;
    
}
.rate{
    float: left;
    padding-right: 90px;
    width: 50px;
    margin-left: -10px;
}
.amount{
    float: left;
    padding-left: 75px;
    width: 50px;
}

.itemInput{
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .container{
      width: 374px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .Itembar{
        display: none;
        
    }
}