.sideBar{
    left: 0%;
    float: left;
    width: 10%;
}

.form{
    margin-left: 300px;
    margin-right: 200px;
    left: 15%;
    border-style: groove;
    border-radius: 7px;
    min-height: 500px;
    width: fit-content;
    padding-top: 10px;
    

}
form{
    display: inline-block;
}
.leftDivision{
    float: left;
    min-width: 30%;
}

.rightDivision{
    width: 30%;
    float: right;
    margin-top: 10px;
}

.addItem{
    background-color: black;
    float: left;
    color: rgb(222, 235, 232);
    width: 800px;
    /* border-style: groove; */
    border-radius: 4px;
    padding-left: 5px;
    
}
.item{
  padding-left: 10px;
  float: left;
  width: 520px;
}
.quantity{
    float: left;
    width: 90px;
}
.rate{
    float: left;
    padding-right: 90px;
    width: 50px;
}



.remarks{
    margin-left:10px;
    float:left;
}
.savebtn{
    margin-left: 2%;
    display: inline-block;
}